
<div class="container mt-4">

  <div class="search">
    <input id="document_search" class="form-control" placeholder="Documento">
    <button class="btn btn-info">Buscar</button>

    <app-client-form/>

    <button class="btn btn-secondary">X</button>
  </div>

  <br>

  <input id="name_response" class="form-control" placeholder="" disabled>

  <br>

  <div class="client_details">
    <button class="btn btn-primary">Productos</button>
    <button class="btn btn-primary">Ordenes</button>
  </div>

</div>

<router-outlet></router-outlet>
